{% extends "base.html" %}
{% block content %}
<h1>AUDIO FILE NAME</h1>
<p>Click <a href="/">here</a> to go home.</p>
<!--<p>Back to<a href="/form-handler">search</a>.</p>-->
    <table>
	<th>Audio_File_ID</th>
        <!-- nested for loops in jinja template -->
	{%for data in row%}
	    <tr>
	    <td>{{data}}</td>
	    </tr>
	{%endfor%}
    </table>
    <!--
     <form action="/report-handler" method="POST">
        <input type="submit" value="Submit metadata">
     </form>
     -->
{% endblock %}
