{% extends "base.html" %}
{% block content %}
<!--Return to search results page or Search bar-->
<form>
    <input type ="button" value="Return to Results" onclick="history.back()">
    <input type="button" onclick="window.location.href='/'" value = "Back to Search"/>
</form>

<h1> {{title}}</h1>
<h2>Link to Audio</h2>
<!--Placeholder for playback bar-->
{{raw_audio}}
<h3>Full Transcript</h3>
{{transcript}}
<h4>Metadata List</h4>
{{metadata}}
  <!--  <table>
	<th>Audio_File_ID</th>
    
	{%for data in row%}
	    <tr>
	    <td>{{data}}</td>
	    </tr>
	{%endfor%}
    </table>
    -->
    <form action="/report-handler" method="POST">
        <input type="submit" value="Report Transcript Error">
    </form>
     <form action="/metadata-handler" method="POST">
        <input type="submit" value="Submit metadata">
     </form>
    
{% endblock %}
