{% extends "base.html" %}
{% block content %}
<!--Return to search results page or Search bar-->
<form>
     <input type ="button" value="Back to search"  onclick="window.location.href='/search'">
</form>

<h1>{{title}}</h1>
<h2>Audio</h2>
<!--Playback bar-->
<audio controls>
<source src = "{{raw_audio}}"/>
</audio>
<h3>Full Transcript</h3>
<iframe src="{{transcript}}" width="640" height="480"></iframe>
<h4>Metadata List</h4>
{{metadata}}

<!--Display report buttons to logged-in users only-->
    <form action="/report" method="POST">
     <button name="id" type="submit" value="{{af_id}}">REPORT TRANSCRIPT ERROR</button>
    </form>
     <form action="/metadata" method="POST">
     <button name="id" type="submit" value="{{af_id}}">SUBMIT METADATA</button>
     </form>
    
{% endblock %}
