<!-- /templates/my-form.html-->

<html>
    <head>
        <title>Trentaudio</title>
    </head>
    <body>
	<h3>Audio File Name</h3>
	<h3> Raw Data</h3>
	<h3> Full Transcript</h3>
	<h3> Metadata List</h3>
	<h3> Report Transcript Error</h3>
	<h3>Submit Metadata </h3>
	
        <form action="/form-handler" method="POST">
            <div>
		Click on one of the commands
		<input type="text" name="query">
            </div>
            <input type="submit" value="Submit">
        </form>
    </body>

    <!-- minimal styling -->
    <style>
        form {
            margin: 1%;
        }

        div {
            margin: 1% 0;
        }
    </style>
</html>
