<! profile page for users that allow them to edit their account info- Coded by Carolyne>
{% extends "base.html" %}
{% block content %}

<h2> Welcome! </h2>
<br>
    Start Searching:
    <div>
    <input type="button" value="Search" onclick="window.location.href='/search'"> <br>
    Edit Your Account Information: <br>
    <input type="button" value="Change Email" onclick="window.location.href='/edit_email_form'"> <br>
    <input type="button" value="Change Name" onclick="window.location.href='/edit_name_form'"> <br>
    <input type="button" value="Change Password" onclick="window.location.href='/edit_password_form'"> <br>
    </div>
    
{% endblock %}
    
